<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
        <link rel="stylesheet/less" type="text/css" href="css/styles.less">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic' rel='stylesheet' type='text/css' />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/json-formatter/0.6.0/json-formatter.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body ng-app="chatbot" ng-controller="chatCtrl">
        
    	<div id="header">
    	<div class="center">
    		TravelClick Chatbot Assistant

    		<div class="comment">Find a hotel to stay, learn more about a hotel you are interested or make a reservation.</div>
    	</div>
    	</div>

    	<div class="center">
    		<ul id="chat">
    			<!-- <li class="bot-message">Hi! How can I help you today?</li> -->

    		  <li ng-controller="msgCtrl" ng-repeat="msg in messages" class="{{msg.owner}} {{msg.type}}">
                <span ng-click="msg.showAnalysis = !msg.showAnalysis" ng-show="msg.type == 'msg'">
                    {{msg.text}}
                </span>

                <json-formatter ng-show="msg.owner == 'user' && msg.showAnalysis" json="msg.analysis" open="5"></json-formatter>

                <span ng-show="msg.type == 'setRoomType'">
                <ul>
                    <li ng-repeat="room in msg.rooms track by $index">
                        <img ng-src="{{room.picture}}" /><br />

                        {{room.roomName}}<br />

                        <button ng-click="setRoomType(room.roomCode, room.roomName)">
                            Choose
                        </button>
                    </li>
                </ul>
                </span>

                <div class="map" ng-show="msg.type == 'location' || msg.type == 'directions'"></div>

                <span ng-show="msg.type == 'setDates'">
                [IMAGINARY CALENDAR] <br />

                <button ng-click="setDates()">Choose February 2nd to February 5th for now</button>
                </span>
              </li>
            </ul>
    	</div>

    	<div class="center">
        <form ng-submit="addMessage()">
    	   <input type="text" ng-model="newMessage" ng-disabled="disabled" id="new-message" placeholder="Send a message..." />
        </form>
    	</div>

    	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json-formatter/0.6.0/json-formatter.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbVQPyu3rG6eRovOO8PfXH5hHCktvtHyk">
        </script>

        <script src="js/app.js"></script>
    </body>
</html>