@avail-green: rgba(89, 206, 0, 0.3);
@booked-red: rgba(255, 0, 0, 0.3);
@selected-blue: rgba(0, 78, 255, 0.73);

.container {
	background-color: white;
	padding: 5px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-radius: 3px;
	text-align: right;
}

.rangetip {
	opacity: 0.6;
	margin: 5px;
}

.pika-lendar {
	font-family: 'Lato', sans-serif;
	width: auto;
	margin: 0px;
}

.pika-single {
	z-index: 0;
}

.pika-button.pika-day.selected {
	background-color: @selected-blue !important;
	color: white;
	box-shadow: none;
	border-radius: 0px;
}

.selected:first-of-type {
	border-top-left-radius: 1000px;
	border-bottom-left-radius: 1000px;
}

.pika-button.pika-day {
	background-color: transparent;
	color: black;
	text-align: center;
	padding: 10px;
	outline: none;
}

td:not(.is-disabled) .pika-button.pika-day.avail {
	background-color: @avail-green;
}

td:not(.is-disabled) .pika-button.pika-day.booked {
	background-color: @booked-red;
}


.pika-button.pika-day:hover {
	background-color: #EEE;
}

.avail-color {
	display: inline-block;
	background-color: @avail-green;
	width: 18px;
	border-radius: 1000px;
}

.booked-color {
	display: inline-block;
	background-color: @booked-red;
	width: 18px;
	border-radius: 1000px;
	margin-left: 10px;
}

.pika-single {
	border: none;
}


/* Mobile responsive */
/* .pika-table th,
.pika-button,
.pika-label {
	font-size: 16px;
} */