@blue: rgb(0, 119, 200);
@blue-dark: darken(@blue, 50%, relative);
@blue-light: tint(fade(@blue, 40%), 40%);

body {
	font-family: 'Lato', sans-serif;
	background-color: #EEE;
}

.center {
	max-width: 700px;
	margin: auto;
}

#topbar {
	font-size: 17px;
	line-height: 42px;
	background-color: @blue-dark;
	color: white;
	font-weight: bold;
	text-align: center;

	a {
		float: right;
		font-size: 32px;
		color: white;
	}

	a:hover {
		color: yellow;
	}
}


#chat {
	padding: 0px 10px;
	overflow-x: visible;
	overflow-y: hidden;
	list-style: none;
	margin-bottom: 100px;

	.user {
		@keyframes user-msg-enter {
			from { margin-left: -100px; opacity: 0; }
			to { opacity: 1; }
		}

		float: left;
		clear: both;
		animation: user-msg-enter 1s;
		width: 100%;
	}

	.bot {
		@keyframes bot-msg-enter {
			from { margin-right: -100px; opacity: 0; }
			to { opacity: 1; }
		}

		float: right;
		clear: both;
		animation: bot-msg-enter 1s;
		width: 100%;
	}

	.msg {
		display: block;
		color: black;
		padding: 10px 15px;
		background-color: white;
		font-size: 16px;
		margin: 5px 0px;
		border-radius: 3px;
		font-weight: normal;
		box-shadow: none;
	}

	/* YES/NO message choice */

	@yes-green: rgba(49, 128, 0, 0.85);
	@no-red: rgba(255, 0, 0, 0.80);

	.bot .green.msg:hover {
		background-color: @yes-green !important;
	}

	.bot .red.msg:hover {
		background-color: @no-red !important;
	}
}

#footer {
	position: fixed;
	background-color: rgba(238, 238, 238, 0.6);
	bottom: 0px;
	padding-bottom: 20px;
	width: 100%;
	max-width: inherit;

	.input {
		font-family: 'Lato', sans-serif;
		font-size: 17px;
		border: none;
		padding: 10px 20px;
		width: 100%;
	}

	.input:not([class*="left action"])>input {
		border-radius: .28571429rem !important;
		border-right-color: rgba(34,36,38,.15) !important;
	}

	button {
		padding: 5px;
		font-size: 32px;
		background: none;
	}
}