body {
	font-family: 'Lato', sans-serif;
}

#bg {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	background: url(https://images.unsplash.com/photo-1444201983204-c43cbd584d93?dpr=1&auto=format&crop=entropy&fit=crop&w=1366&h=911&q=80);
	background-size: cover;
	background-position: bottom;
	opacity: 0.4;
}

#placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -450px;
	text-align: center;

	color: #333;
	font-size: 64px;
}

#chatbot {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 350px;

	border-left: 1px solid white;
	box-shadow: -1px 0px 0px #CCC;
	background-color: #EEE;
}