<!DOCTYPE html>
<html>
<head>
	<title>Booking assistant</title>

	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/json-formatter/0.6.0/json-formatter.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css" rel="stylesheet" type="text/css" />
	
	<link rel="stylesheet/less" type="text/css" href="css/clearui.less" />
	<link rel="stylesheet/less" type="text/css" href="css/calendar.less" />
	<link rel="stylesheet/less" type="text/css" href="css/map-directions.less" />
</head>
<body ng-app="chatbot" ng-controller="chatCtrl">
	
	<!-- Topbar -->
	<div id="topbar">
		<div class="center">
			TravelClick ChatBot Assistant

			<a href="https://github.com/ktsakas/travelclick-chatbot"><i class="github icon"></i></a>
		</div>
	</div>	


	<div class="center">
		<!-- List of chat messages -->
		<ul id="chat">
			<li class="{{answer.owner}}" ng-controller="answerCtrl" ng-repeat="answer in answers">

				<ng-include
					ng-if="answer.type == 'msg'" src="'msg.html'" ng-controller="msgCtrl">
				</ng-include>

				<!-- Bot only answers -->
				<ng-include
					ng-if="answer.type == 'yes_no'" src="'yes_no.html'">
				</ng-include>
				
				<ng-include ng-if="answer.type == 'rooms'" src="'rooms.html'"></ng-include>
				
				<ng-include
					ng-if="answer.type == 'availability' || answer.type == 'calendar'" src="'calendar.html'">
				</ng-include>
				
				<ng-include 
					ng-if="answer.type == 'directions'" src="'map_directions.html'">
				</ng-include>

				<ng-include 
					ng-if="answer.type == 'help'" src="'help.html'">
				</ng-include>
			</li>

			<!-- Fit height fix -->
			<li style="clear: both;"></li>
		</ul>
		
		<!-- Input to send message -->
		<div id="footer">
			<form class="ui action input" ng-submit="submitMessage(this)">
				<input type="text" placeholder="Send a message..." ng-model="newMessage" />
				<button class="ui icon button"><i class="send icon"></i></button>
			</form>
		</div>
	</div>



	<!-- Message template -->
	<script type="text/ng-template" id="msg.html">
		<div class="ui msg {{answer.owner == 'user' ? 'left' : 'right'}} pointing label">
			{{answer.text}}
		</div>
	</script>


	<!-- Yes/No answer template -->
	<script type="text/ng-template" id="yes_no.html">
	<form ng-controller="yesNoCtrl" class="temporary">
		<button ng-click="sendMessage('Yes')" class="ui msg green right pointing label">Yes</button><br />
		<button ng-click="sendMessage('No')" class="ui msg red right pointing label">No</button>
	</form>
	</script>


	<!-- Rooms list template -->
	<script type="text/ng-template" id="rooms.html">
	<div class="rooms" ng-controller="roomsCtrl">
		<div class="ui fluid card {{answer.selectable ? 'selectable' : ''}}"
			 ng-repeat="room in answer.rooms track by $index"
			 ng-click="answer.selectable && sendMessage('The &quot;' + room.roomTypeName + '&quot; room.', room)">
			<div class="content">
				{{room.roomTypeName}}
				<div class="meta">
				<span class="date">for 3 people</span>
				</div>
			</div>

			<img src="http://placehold.it/200x150" />
			<!-- <img ng-src="{{room.picture}}" /> -->

			<div class="content">
				<div class="ui two buttons">
					<button class="ui basic green button" ng-click="viewDetails()">Details</button>
					<button ng-if="answer.bookButton" class="ui basic blue button"
							ng-click="bookRoom($event, room);">
						Book
					</button>
					<button ng-if="answer.availButton" class="ui basic blue button"
							ng-click="sendMessage('The &quot;' + room.roomTypeName + '&quot; room.', room)">
						Availability
					</button>
					<!--  ng-if="rooms.bookButton" -->
				</div>
			</div>
		</div>
	</div>
	</script>


	<!-- Calendar template -->
	<script type="text/ng-template" id="calendar.html">
	<form name="calendar" ng-controller="calendarCtrl" class="{{answer.type == 'calendar' ? 'temporary' : ''}}">
		<input type="text" name="calendarField" style="display: none;" />

		<div class="container">
			<div class="calendar"></div>

			<span ng-if="answer.type != 'availability'">
				<div class="rangetip">from to</div>

				<input type="button" ng-click="clearCalendar()" class="ui negative basic button" value="Clear" />
				<input type="button" ng-click="selectDate()" class="ui primary button" value="Done" />
			</span>
		</div>

		<div class="avail-color">&nbsp;</div> Available
		<div class="booked-color">&nbsp;</div> Booked
	</form>
	</script>


	<!-- Map/Directions template -->
	<script type="text/ng-template" id="map_directions.html">
	<div ng-controller="mapDirectionsCtrl">
		<div class="map"></div>

		<div class="msg directions">
			<div class="step" ng-repeat="step in directions">
				<span style="position: relative; margin-right: 19px;">
					<i class="adp-maneuver adp-{{step.maneuver}}"></i>
				</span>
				<span ng-bind-html="step.instructions | unsafe"></span>
			</div>
		</div>
	</div>
	</script>

	<!-- Help template -->
	<script type="text/ng-template" id="help.html">
	<ul class="msg help">
		<li>
			<div class="tag">Booking:</div>
			<a ng-click="sendMessage('Book me a single from January 1st to January 10th.')">
				Book me a single from January 1st to January 10th.
			</a>
		</li>
		<li>
			<div class="tag">Hotel Info:</div>
			<a ng-click="sendMessage('What is your phone number?')">
				What is your phone number?
			</a>
		</li>
		<li>
			<div class="tag">Room Info:</div>
			<a ng-click="sendMessage('Do your rooms have wifi?')">
				Do your rooms have wifi?
			</a>
		</li>
		<li>
			<div class="tag">Availability:</div>
			<a ng-click="sendMessage('Show me your availability in July.')">
				Show me your availability in July.
			</a>
		</li>
		<li>
			<div class="tag">Address & Directions:</div>
			<a ng-click="sendMessage('How do I get there from Boston?')">
				How do I get there from Boston?
			</a>
		</li>
		<li>
			<div class="tag">Contact the hotel:</div>
			<a ng-click="sendMessage('Text the hotel that I will be late.')">
				Text the hotel that I will be late.
			</a>
		</li>
	</ul>
	</script>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbVQPyu3rG6eRovOO8PfXH5hHCktvtHyk"></script>

	<script src="js/main.js"></script>

	<script src="js/calendar-ctrl.js"></script>
	<script src="js/map-ctrl.js"></script>
	<script src="js/answer-ctrl.js"></script>
	<script src="js/rooms-ctrl.js"></script>

</body>
</html>