<form name="calendar" ng-class="{temporary: $ctrl.selectable}">
	<input type="text" name="calendarField" style="display: none;" />

	<div class="container">
		<div class="calendar"></div>

		<span ng-if="$ctrl.selectable">
			<div class="rangetip">from to</div>

			<input type="button" ng-click="clearCalendar()" class="ui negative basic button" value="Clear" />
			<input type="button" ng-click="selectDate()" class="ui primary button" value="Done" />
		</span>
	</div>

	<div class="avail-color">&nbsp;</div> Available
	<div class="booked-color">&nbsp;</div> Booked
</form>