<ul class="msg help">
	<li>
		<div class="tag">Booking:</div>
		<a ng-click="sendMessage('Book me a single from January 1st to January 10th.')">
			Book me a single from January 1st to January 10th.
		</a>
	</li>
	<li>
		<div class="tag">Hotel Info:</div>
		<a ng-click="sendMessage('What is your phone number?')">
			What is your phone number?
		</a>
	</li>
	<li>
		<div class="tag">Room Info:</div>
		<a ng-click="sendMessage('Do your rooms have wifi?')">
			Do your rooms have wifi?
		</a>
	</li>
	<li>
		<div class="tag">Availability:</div>
		<a ng-click="sendMessage('Show me your availability in August.')">
			Show me your availability in August.
		</a>
	</li>
	<li>
		<div class="tag">Address & Directions:</div>
		<a ng-click="sendMessage('How do I get there from Boston?')">
			How do I get there from Boston?
		</a>
	</li>
	<li>
		<div class="tag">Contact the hotel:</div>
		<a ng-click="sendMessage('Text the hotel that I will be late.')">
			Text the hotel that I will be late.
		</a>
	</li>
</ul>