<div class="rooms">
	<div class="ui fluid card"
		 ng-class="{selectable: $ctrl.selectable}"
		 ng-repeat="room in $ctrl.rooms track by $index"
		 ng-click="$ctrl.selectable && $ctrl.onSelect({ text: 'The &quot;' + room.roomTypeName + '&quot; room.', room: room })">
		<div class="content">
			{{room.roomTypeName}}
			<div class="meta">
			<span class="date">for 3 people</span>
			</div>
		</div>

		<!-- <img src="http://placehold.it/200x150" /> -->
		<img ng-src="{{room.picture}}" />

		<div class="content">
			<div class="ui two buttons">
				<button class="ui basic green button" ng-click="viewDetails()">Details</button>
				<button ng-if="$ctrl.bookButton" class="ui basic blue button"
						ng-click="bookRoom($event, room);">
					Book
				</button>
				<button ng-if="$ctrl.availButton" class="ui basic blue button"
						ng-click="$ctrl.onSelect({ text: 'The &quot;' + room.roomTypeName + '&quot; room.', rom: room })">
					Availability
				</button>
				<!--  ng-if="rooms.bookButton" -->
			</div>
		</div>
	</div>
</div>